/* made by mashood / purity  */

html, body,
a, img, div, p, h1, h2{

    cursor:url("cursor.png") 0 0, auto;

}


body{

    margin:0;
    padding:0;

    font-family:'IBM Plex Mono', monospace;

    min-height:100vh;

    overflow-x:hidden;

    background:linear-gradient(
        -45deg,
        #050505,
        #151515,
        #404040,
        #757575,
        #4a4a4a,
        #111111
    );

    background-size:400% 400%;

    animation:ambientFade 20s ease infinite;

}


/* Ambient movement */

@keyframes ambientFade{

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }

}


/* Left manga panel */

.manga-left{

    position:fixed;

    left:0;
    top:0;

    width:24vw;
    height:100vh;

    object-fit:fill;

    z-index:1;

    -webkit-mask-image:linear-gradient(
        to right,
        black 65%,
        transparent 100%
    );

    mask-image:linear-gradient(
        to right,
        black 65%,
        transparent 100%
    );

}


/* Right manga panel */

.manga-right{

    position:fixed;

    right:0;
    top:0;

    width:24vw;
    height:100vh;

    object-fit:fill;

    z-index:1;

    -webkit-mask-image:linear-gradient(
        to left,
        black 65%,
        transparent 100%
    );

    mask-image:linear-gradient(
        to left,
        black 65%,
        transparent 100%
    );

}


/* Main title */

.title{

    text-align:center;

    font-size:60px;

    margin-top:40px;

    color:white;

    position:relative;

    z-index:5;

}


.container{

    width:100%;

    display:flex;

    justify-content:center;

    margin-top:80px;

    position:relative;

    z-index:5;

}


.about-box{

    width:400px;

    color:white;

}


.about-box h2{

    font-size:36px;

    margin-bottom:35px;

}


.about-box p{

    font-size:20px;

    line-height:1.8;

}


/* Bottom icons */

.social-icons{

    position:fixed;

    bottom:80px;

    left:50%;

    transform:translateX(-50%);

    display:flex;

    gap:40px;

    z-index:5;

}


.social-icons img{

    width:35px;

    height:35px;

    object-fit:contain;

    transition:.3s;

}


.social-icons img:hover{

    transform:scale(1.2);

}


/* Dark cursor particles */

.particle{

    position:absolute;

    width:10px;
    height:10px;

    border-radius:50%;

    pointer-events:none;

    background:#111111;

    box-shadow:
        0 0 8px #000,
        0 0 16px rgba(0,0,0,.9),
        0 0 28px rgba(0,0,0,.7),
        0 0 40px rgba(0,0,0,.5);

    animation:particleFade .8s linear forwards;

    z-index:9999;

}


@keyframes particleFade{

    0%{

        opacity:1;

        transform:
        translate(-50%,-50%)
        scale(1);

    }

    100%{

        opacity:0;

        transform:
        translate(-50%,-70%)
        scale(0);

    }

}
