body{

    margin:0;
    padding:0;

    background:#d9d9d9;

    font-family:'IBM Plex Mono', monospace;

    min-height:100vh;
}


/* Top title */

.title{

    text-align:center;

    font-size:60px;

    margin-top:40px;

    font-weight:normal;
}


/* Main area */

.container{

    width:100%;

    display:flex;

    justify-content:center;

    margin-top:80px;
}


/* About section */

.about-box{

    width:400px;
}


.about-box h2{

    font-size:36px;

    margin-bottom:35px;
}


.about-box p{

    font-size:20px;

    line-height:1.8;
}


/* Bottom icons */

.social-icons{

    position:fixed;

    bottom:80px;

    left:50%;

    transform:translateX(-50%);

    display:flex;

    gap:40px;
}


.social-icons img{

    width:35px;

    height:35px;

    object-fit:contain;

    transition:.3s;
}


.social-icons img:hover{

    transform:scale(1.2);
}
